<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{ vm.newItem ? 'New Trip' : 'Edit Trip' }}</h3>
</div>
<div class="modal-body" id="modal-body">
  <form name="tripForm">
    <!--  Date -->
    <div class="form-group">
      <label class="sr-only" for="tripDate">Date</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">Date</div>
        <input name="date" required ng-model="vm.trip.date" type="text" class="form-control" id="tripDate" placeholder="yyyy-mm-dd">
      </div>
    </div>
    <!--  Destiny -->
    <div class="form-group">
      <label class="sr-only" for="tripDestiny">Destiny</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">Destiny</div>
        <input name="destiny" required ng-model="vm.trip.destiny"  type="text" class="form-control" id="tripDestiny" placeholder="Work, Home, etc...">
      </div>
    </div>
    <!--  Cost -->
    <div class="form-group">
      <label class="sr-only" for="tripCost">Cost</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">Cost</div>
        <input  name="cost" required ng-model="vm.trip.cost" type="number" class="form-control" id="tripCost" placeholder="$0.00">
      </div>
    </div>
    <!--  Users -->
    <div class="form-group">
      <label class="sr-only" for="tripUsers">Users</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">Users</div>
        <input name="users" required ng-model="vm.trip.users"  type="text" class="form-control" id="tripUsers" placeholder="Some users...">
      </div>
    </div>
  </form>

</div>
<div class="modal-footer">
  <!--  Buttons -->
  <div class="form-group" style="text-align: right;">
    <button type="button" name="button" class="btn btn-outline-danger" ng-click="vm.CloseModal()">Clear</button>
    <button ng-disabled="!tripForm.$valid" type="button" ng-click="vm.SubmitTrip(vm.trip)" name="button" class="btn btn-outline-primary">{{ vm.newItem ? 'Create' : 'Save' }}</button>
  </div>
</div>
