<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Warning!</h4>
</div>
<div class="modal-body" id="modal-body">
    Are You sure You want to delete this Item?
</div>
<div class="modal-footer">
  <!--  Buttons -->
  <div class="form-group" style="text-align: right;">
    <button type="button" ng-click="vm.CloseModal()" name="button" class="btn btn-outline-danger" >Cancel</button>
    <button type="button" ng-click="vm.RemoveItem()" name="button" class="btn btn-outline-primary">Delete</button>
  </div>
</div>
