<div ng-controller="homeController as vm">

  <h1>Carpool Dashboard</h1>
  <div style="margin-top: 20px;">
    <h3>This week</h3>
    <hr>
    <app-loading ng-if="!vm.tripsReady"></app-loading>

    <div >
      <rowcalendar-component trips="vm.thisWeekTrips" ng-if="vm.tripsReady"></rowcalendar-component>
      <div style="margin-top: 20px;" ng-if="vm.thisWeekHasTrips" >
        <expenses-component expenses="vm.thisWeekExpenses"></expenses-component>
      </div>
    </div>


  </div>
  <div style="margin-top: 40px;">
    <h3>Last week</h3>
    <hr>
    <div >
      <rowcalendar-component trips="vm.lastWeekTrips" ></rowcalendar-component>
      <div style="margin-top: 20px;" ng-if="vm.lastWeekHasTrips">
        <expenses-component expenses="vm.lastWeekExpenses"></expenses-component>
      </div>
    </div>

  </div>


</div>
