<style media="screen">
  .screen {
    /*background-color: #0288D1;*/
     background: linear-gradient(to bottom right, #0288D1, #000); /* Standard syntax */
    height: 100vh;
  }
  .center-vertical {
    padding-top: 15%;
  }
  .login-container {
    background-color: rgba(255,255,255,0.8);
    padding: 14px;
    border-radius: 4px;
  }
  .login-title {
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .show {
    display: initial !important;
  }
</style>
<div class="screen">

  <div class="row justify-content-center center-vertical" >
    <div class="col-10 col-sm-8 col-md-6 col-xl-4" style="width: 400px;">
      <div class="login-container">
        <h3 class="login-title">Log in to Carpool App</h3>
        <form name="form" ng-submit="vm.login()" >

          <div class="form-group row">
            <label for="user" class="col-sm-3 col-form-label">Username</label>
            <div class="col-sm-9">
              <input type="text" required class="form-control" name="user"  id="user" ng-model="vm.data.user" placeholder="Username">
              <div  class="invalid-feedback" ng-class="(form.user.$invalid && form.user.$touched) ? 'show' : ''">
                Please provide an username.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="username" class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
              <input type="password" required class="form-control" name="password" id="password" ng-model="vm.data.password" placeholder="***">
              <div  class="invalid-feedback" ng-class="(form.password.$invalid && form.password.$touched) ? 'show' : ''">
                Please provide a password.
              </div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" ng-disabled="form.$invalid || vm.loading" class="btn btn-primary btn-block">Log In</button>
          </div>


        </form>
      </div>

    </div>


  </div>


</div>
