<style>
  .people td {
      padding: 0.3vw !important;
      vertical-align: middle !important;
  }
</style>
<h1>Admin Panel</h1>
<!--  Trips -->
<div class="row" >
  <div class="col-xs-12 col-md-12">
    <button style="float: right; margin-left: 15px;" type="button" ng-click="vm.OpenTripModal()" class="btn btn-outline-success" name="button"><i class="mi mi-add"></i></button>
    <h3>Trips</h3>
    <hr>
  </div>
  <div class="col-xs-12 col-md-12">
    <table class="people table table-striped" >
      <thead>
        <tr>
          <th>Date</th>
          <th>Destiny</th>
          <th>Cost</th>
          <th>People</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody >
        <tr ng-repeat="trip in vm.trips">
          <td>{{ trip.date | date }}</td>
          <td>{{ trip.destiny }}</td>
          <td>${{ trip.cost }}</td>
          <td >
            <div class="persona" ng-repeat="traveler in trip.users_obj" style="background-color: {{traveler.color}};">
              <span>{{traveler.firstname[0] + traveler.lastname[0]}}</span>
            </div>
          </td>
          <td>
            <button ng-click="vm.OpenUserModal(trip)" class="btn btn-outline-primary" type="button" name="button"><i class="mi mi-edit"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <app-loading ng-if="!vm.adminReady"></app-loading>
  </div>
</div>
<!--  Users -->
<div class="row content-margin" >
  <div class="col-xs-12 col-md-12">
    <button style="float: right; margin-left: 15px;" type="button" ng-click="vm.OpenUserModal()" class="btn btn-outline-success" name="button"><i class="mi mi-add"></i></button>
    <h3>Users</h3>
    <hr>
  </div>
  <div class="col-xs-12 col-md-12">
    <table class="people table table-striped" >
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Color</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in vm.users">
          <td>{{user.firstname}}</td>
          <td>{{user.email}}</td>
          <td style="background-color: {{user.color}};"></td>
          <td style="text-align: center;">
            <button ng-click="vm.OpenUserModal(user)" class="btn btn-outline-primary" type="button" name="button"><i class="mi mi-edit"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <app-loading ng-if="!vm.adminReady"></app-loading>
  </div>
</div>
