<style>
</style>

<div>
  <table class="week">
    <thead>
      <tr>
        <th class="week-header" ng-repeat="(day, data) in vm.trips">{{ day | weekDayString  }}<br>{{ day }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="week-day" ng-repeat="(day, data) in vm.trips">
          <div class="day-data" ng-repeat="(tripTitle, tripData) in vm.trips[day]">
            <span class="day-data-title">
              {{tripTitle}} <small>${{tripData.cost}}</small>
            </span>
            <div class="day-data-description">
              <div class="persona" ng-repeat="traveler in tripData.travelers" style="background-color: {{traveler.user.color}};">
                <span>{{traveler.user.firstname[0] + traveler.user.lastname[0]}}</span>
              </div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </td>

      </tr>
    </tbody>

  </table>
</div>
