<style>
</style>

<div>
  <table class="week">
    <thead>
      <tr>
        <th class="week-header" ng-repeat="(day, trips) in vm.trips">{{ day | weekDayString  }}<br>{{ day }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="week-day" ng-repeat="(day, trips) in vm.trips" >

          <div class="day-data" ng-repeat="trip in trips | orderBy: '-destiny'">
            <span class="day-data-title">
              {{trip.destiny}} <small>${{trip.cost}}</small>
            </span>
            <div class="day-data-description">
              <div class="persona" ng-repeat="traveler in trip.users_obj" style="background-color: {{traveler.color}};">
                <span>{{traveler.firstname[0] + traveler.lastname[0]}}</span>
              </div>
            </div>
            <div style="clear: both;"></div>
          </div>


        </td>

      </tr>
    </tbody>

  </table>
</div>
