<style>
  .week {
    width: 100%;
  }

  .week-header,
  .week-day {
    border: 1px solid #ccc;
  }

  .week-header {
    text-align: center;
    font-weight: bolder;
    border-bottom: 4px solid #444;
  }

  .week-day {
    width: 14%;
    vertical-align: top;
    border-bottom: none;
    border-right: none;

  }
  .day-data-title {
    border-bottom: 1px solid #ccc;
    margin-bottom: 2px;
    padding-left: 4px;
  }
  .week-day h6  {
    margin-top: 7px;
    margin-bottom: 5px;
  }

  .persona {
    border-radius:  100%;
    background-color: #ccc;
    width: 3vw;
    height: 3vw;
    text-align: center;
    position: relative;
    float: left;
    margin-left: 3px;
    margin-top: 3px;
  }
  .persona span {
    position: absolute;
    text-align: center;
    width: 2vw;
    height: 2vw;
    left: 0.5vw;
    top: 0.4vw;
    font-size: 1.4vw;
    color: #fefefe;


  }


</style>

<div>
  <table class="week">
    <thead>
      <tr>
        <th class="week-header" ng-repeat="(day, data) in vm.trips">{{ day | weekDayString  }}<br>{{ day }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="week-day" ng-repeat="(day, data) in vm.trips">
          <div class="day-data" ng-repeat="(tripTitle, tripData) in vm.trips[day]">
            <span class="day-data-title">
              {{tripTitle}} <small>${{tripData.cost}}</small>
            </span>
            <div class="day-data-description">
              <div class="persona" ng-repeat="traveler in tripData.travelers" style="background-color: {{traveler.user.color}};">
                <span>{{traveler.user.firstname[0] + traveler.user.lastname[0]}}</span>
              </div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </td>

      </tr>
    </tbody>

  </table>
</div>
