<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{ vm.newItem ? 'New User' : 'Edit User' }}</h3>
</div>
<div class="modal-body" id="modal-body">
  <form name="userForm">
    <!--  Firstname -->
    <div class="form-group">
      <label class="sr-only" for="userFirstname">Firstname</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">Firstname</div>
        <input name="firstname" required ng-model="vm.user.firstname" type="text" class="form-control" id="userFirstname" placeholder="User's firstname">
      </div>
    </div>
    <!--  Lastname -->
    <div class="form-group">
      <label class="sr-only" for="userLastname">Lastname</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">Lastname</div>
        <input name="lastname" required ng-model="vm.user.lastname"  type="text" class="form-control" id="userLastname" placeholder="User's lastname">
      </div>
    </div>
    <!--  Username -->
    <div class="form-group">
      <label class="sr-only" for="userUsername">Username</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">Username</div>
        <input  name="username" required ng-model="vm.user.username" type="text" class="form-control" id="userUsername" placeholder="User's username">
      </div>
    </div>
    <!--  Email -->
    <div class="form-group">
      <label class="sr-only" for="userEmail">Email</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">Email</div>
        <input ng-disabled="!vm.newItem" name="email" required ng-model="vm.user.email"  type="email" class="form-control" id="userEmail" placeholder="email@email.com">
      </div>
    </div>
    <!--  Color -->
    <div class="form-group">
      <label class="sr-only" for="userColor">Color</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">Color</div>
        <input name="email" required ng-model="vm.user.color"  type="text" class="form-control" id="userColor" placeholder="#000000">
      </div>
    </div>
  </form>

</div>
<div class="modal-footer">
  <!--  Buttons -->
  <div class="form-group" style="text-align: right;">
    <button type="button" name="button" class="btn btn-outline-danger" ng-click="vm.CloseModal()">Clear</button>
    <button ng-disabled="!userForm.$valid" type="button" ng-click="vm.SubmitUser(vm.user)" name="button" class="btn btn-outline-primary">{{ vm.newItem ? 'Create' : 'Save' }}</button>
  </div>
</div>
